body {
   background-image: url("wooden.png");
   background-size: 25% 
}
p {
   color:white;
   font-size;200%
}
p.monospace {
   font-family: "Courier New", Courier, monospace;
}
p {
   padding: 10px;    
   border: 5px solid white;
}